<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register to Vote - VoteAmerica</title>
    <script>
      // the embed code pulls pre-filling information from the query string
      if (history.pushState) {
        var existingUrl =
          window.location.protocol +
          "//" +
          window.location.host +
          window.location.pathname;

        var newurl =
          existingUrl +
          "?first_name=" +
          encodeURIComponent("{{ launch_data.get('given_name', '') }}");
        window.history.pushState({ path: newurl }, "", newurl);
      }
    </script>
  </head>
  <body>
    <!-- https://www.voteamerica.com/embeds/#register-tool -->
    <script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
    <div
      class="voteamerica-embed"
      data-subscriber="public"
      data-tool="register"
    ></div>
    <!-- https://www.voteamerica.com/embed/register/?embed_id=wfw854kzks&embed_page_url=https%3A%2F%2Fva-pylti.herokuapp.com%2Flaunch%2F&subscriber=public&first_name=Test -->
  </body>
</html>
