<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register to Vote - VoteAmerica</title>
    <script>
      // the embed code pulls pre-filling information from the query string, so append if possible
      if (history.pushState) {
        var existingUrl =
          window.location.protocol +
          "//" +
          window.location.host +
          window.location.pathname;

        var newurl = existingUrl + "?" + "{{query|safe}}";
        window.history.pushState({ path: newurl }, "", newurl);
      }
    </script>
  </head>
  <body>
    <!-- https://www.voteamerica.com/embeds/#register-tool -->
    <script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
    <div
      class="voteamerica-embed"
      data-subscriber="public"
      data-tool="register"
    ></div>
  </body>
</html>
