<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ page_title }}</title>
<link href="{{ url_for('static', filename='breakout.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<script type="text/javascript">
// Set game difficulty if it has been set in deep linking
var currDiff = "{{ curr_diff }}";
var currUserName = "{{ curr_user_name }}";
var launchId = "{{ launch_id }}";
</script>
<script type="text/javascript" src="{{ url_for('static', filename='breakout.js') }}" charset="utf-8"></script>
</head>
<body>
<!-- https://www.voteamerica.com/embeds/#register-tool -->
<script src="https://cdn.voteamerica.com/embed/tools.js" async></script>
<div class="voteamerica-embed" data-subscriber="public" data-tool="register"></div>
</body>
</html>
